* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.display {
    margin: 20px;
    display: grid;
    grid-template-columns: 15% auto 15%;
    gap: 10px; 
    grid-row: 60% auto;}

.nav{
    display: flex;
    padding: 2px;}

.ends {
    justify-content: baseline;
    align-items: center;}

.izquierda {
    gap: 6px;}

.derecha {
    gap: 25px;}

.central {
    border-radius: 50px;
    align-items: center;
    background-color: #e2e0e0;}

#search {
    margin-right: 8px;}

#logo {
    width: 45px;}

#home, #today {
    padding: 15px;
    font-size: 15px;
    font-weight: bold;}

#search {
    margin-left: 15px;
    width: 25px;}

#notification, #message, #profile{
    width: 35px;}

#down {
    width: 15px;}

#profile {
    align-items: center;}
   
.main {
    margin: 15px;
    grid-row: 80% auto;}  

.caja_perfil{
    display: flex;
    justify-content: center;
    align-self:flex-start;
    align-items: center;
    background-color:white;
    width: auto;
    height: 180px;}

#profile2 {
    width: 150px;
    height: 150px;}

.Nombre{
    background-color: white;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;}

.Usuario{
    background-color: white;
    width: auto;
    height: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;}

.Seguidores{
    background-color: white;
    width: auto;
    height: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;}

    .contenedor{
        display: flex;
        justify-content: center;
        align-self:flex-start;
        align-items: center;
        width: auto;
        height: 55px;
        
    }
#share{
    border-radius: 50px;
    background-color:#e2e0e0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    width: 75px;
    height: 50px;
}

#edit{
    border-radius: 50px;
    background-color:#e2e0e0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    width: 110px;
    height: 50px;
}

.contenedor2{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-self:flex-start;
    align-items: center;
    background-color:white;
    width: auto;
    height: 70px;
    
}
li{
    display: inline-block;
}
li a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 0 18px;
}
.link::after{
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}
.link:hover::after{
    width: 100%;
    transition: width .3s;
}

.option{
    background-color: white;
    padding: 10px;
    overflow: hidden;}
#not1{
    float: left;
}
#not2{
    float: right;
}

#btn-mas{
    display: none;
}
#mas {
    width: 20px;
    height: 20px;}
#inter{
    width: 20px;
    height: 20px;
}
.boton{
position: fixed;
bottom: 25px;
right: 35px;
}
.botones a, icon-mas2{
    display: block;
    text-decoration: none;
    background-color: white;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 1px 1px 6px rgba(153, 162, 170, 0.5);
    transition: all 500ms ease;
}
.botones a:hover{
    background: rgb(230, 227, 227);
}

.botones a{
    margin-bottom:  15px;
}

.container-img{
    width: 1200px;
    margin: 18px auto;
    columns: 5;
    column-gap: 40px;
}
.container-img .box{
    width: 100%;
    margin:10 10 10px;
    padding: 15px;
    overflow: hidden;
    break-inside: avoid;
}
.container-img .box img{
    max-width: 100%;
}
.container-img .box h2{
    margin: 10px 0;
    padding: 0;
    font-size: 18px;
}
.container-img .box p{
    margin: 0;
    padding:0 0 10px;
    font-size: 14px;
}
#imgn{
    border-radius:5px 10px 15px 20px;
}





