* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.display {
    margin: 12px;
    display: grid;
    /* border: 1px solid cadetblue; */
    grid-template-columns: 15% auto 15%;
    gap: 10px; 
    grid-row: 60% auto;
}

.nav{
    display: flex;
    padding: 5px;
    /* border: 1px solid cornflowerblue; */
    /* background-color: azure; */
}

.ends {
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.central {
    display: flex;
    /* border: 1px solid coral; */
    border-radius: 50px;
    justify-content: flex-start;
    align-items: center;
    background-color: #d0d0d0;;
}

#search {
    margin-right: 8px;
}

#logo {
    width: 45px;
}

#home, #today {
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
}

#today {
    color: white;
    background-color: black;
    border-radius: 30px;
}

#search {
    margin-left: 15px;
    width: 25px;
}

#notification, #message, #profile{
    width: 35px;
}

#down {
    width: 15px;
}
