/* Inicio main inicio */

.section-inicio-cards {
    padding: 90px 30px;
    width: 95vw;
    columns: 6 236px;
    column-gap: 15px;
    margin: 0 auto;
  }
  
  .card-image img {
    width: 100%;
    object-fit: cover;
    margin: 5px 0px;
    border-radius: 15px;
  }
  
  .card-image {
    position: relative;
  }
  
  .card-image button {
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background-color: #e60023;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    border: 0px;
    position: absolute;
    display: none;
  }
  
  .card-image a {
    font-weight: 700;
    position: absolute;
    display: none;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .card-image:hover button {
    display: inline-block;
    top: 7%;
    right: 25px;
    cursor: pointer;
  }
  
  .card-image span {
    cursor: pointer;
  }
  
  .span-pinterest {
    position: absolute;
    width: 90px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10%;
    left: 25px;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    background-color: #ececec;
    border-radius: 15px;
    display: none;
  }
  
  .card-image:hover .span-pinterest {
    display: flex;
  }
  
  .span-pinterest:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .card-image:hover a {
    display: inline-block;
    top: 8%;
    left: 25px;
  }
  
  .card-image .btn-card:hover {
    background-color: #ad081b;
  }
  
  .card-image .icono-card {
    width: 32px;
    position: absolute;
    bottom: 8%;
    right: 25px;
    background-color: #ececec;
    display: none;
  }
  
  .card-image .icono-upload-card {
    width: 32px;
    position: absolute;
    bottom: 8%;
    right:70px;
    border-radius: 50%;
    padding: 3px;
    background-color: #ececec;
    display: none;
  }
  
  .card-image:hover .icono-upload-card {
    display: inline-block;
  }
  
  .icono-upload-card:hover,
  .icono-card:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .card-image:hover .icono-card {
    display: inline-block;
  }
  
  /*Fin main inicio*/
  